
.add-btn {
    border: none;
    font-family: "Playfair Display Italic", Arial, Helvetica, sans-serif ;
    background-color: rgba(228, 228, 228, 0.822);
    margin-left: 1rem;
    font-size: 18px;
    border: 1px solid black;
    border-radius: .2rem;
    &__tournament__btn {
        margin-top: 1rem;
    }
}

.score-button {
    display:inline-block;
    padding: 0.35em 1.2em;
    padding : 0.35em 1.2em;
    border :0.1em solid white;
    margin :0 0.3em 0.3em 0;
    border-radius:0.12em;
    text-decoration : none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    background-color:rgba(255, 255, 255, 0.329);
    text-align:center;
    transition: all 0.2s;
}

.score-button:hover {
    color: black;
    background-color: #ffffff71;
}

