@font-face {
    font-family: "Kaushan Script";
    src: url(../styles/Assets/Fonts/KaushanScript-Regular.ttf)format("truetype");
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../styles/Assets/Fonts/PlayfairDisplay-Black.ttf)format("truetype");
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url(../styles/Assets/Fonts/PlayfairDisplay-Italic.ttf)format("truetype");
}
