@import "./buttons.scss";
@import "./fonts.scss";
@import "./games-display.scss";
@import "./error-message.scss";
@import "./set-up-page.scss";


* {
    box-sizing: border-box;
}


body {
    background-image: url(../styles/Assets/Images/bounce-img.jpg);
    font-family: "Playfair Display Italic";
}


