@import "./buttons.scss";
@import "./buttons.scss";
@import "./buttons.scss";

* {
    box-sizing: border-box;
}

.container {
    padding: 0 1rem;
    max-width: 1000px;
    margin: auto;
}

body {
    background-image: url(../styles/Assets/Images/table-1338833_1920.jpg);
}

.tournament-form {
    
}

