
.error-messages {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: rgb(255, 166, 0);
    font-family: 'Playfair Display Itallic';
}

.winner {
    color:  rgb(228, 151, 8);
}

.congratulations {
    font-size: 4rem;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.747);
}


.careful {
    width: fit-content;
    margin: 2rem;
    display: inline;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.575);
    padding: .2rem;
    border-radius: .2rem;
}

.back-to-home-container {
    margin-bottom: 1rem;
}

.heading {
    color: #a53f3fd5;
    font-family: "Playfair Display", "Arial, Helvetica, sans-serif";
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 0.5rem;
    margin-top: 10px;
    border-radius: .2rem;
}